vllm==0.6.4
hf_transfer
accelerate
torch==2.5.1+cpu; platform_machine != "ppc64le" and platform_machine != "aarch64" 
torch==2.5.1; platform_machine == "aarch64"
torchvision; platform_machine != "ppc64le"  
